.counter__section {
    display: flex; /* Activa el modo flexbox */
    align-items: center; /* Alinea verticalmente al centro */
  }

  #counter {
    margin: 0 10px; /* Agrega márgenes a los lados del contador */
  }  