<ion-toolbar>
  <!-- Botón de Cancelar a la izquierda -->
  <ion-buttons slot="start">
    <ion-button (click)="cancel()">
      <ion-icon class="arrow-back-outline" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- Título centrado -->
  <ion-title class="title-container">Agregar Medicamento</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <form [formGroup]="medicamentoForm" (ngSubmit)="onSubmit()">
    <!-- Nombre del Medicamento -->
    <ion-item>
      <ion-label position="stacked">Nombre del Medicamento</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <!-- Frecuencia con Radio Buttons -->
    <ion-item class="no-border">
      <ion-label position="stacked">Frecuencia</ion-label>
    </ion-item>

    <ion-radio-group formControlName="frecuencia" (ionChange)="onFrecuenciaChange($event)">
      <ion-item>
        <ion-radio justify="space-between" value="1">Una vez al día</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio justify="space-between" value="2">Dos veces al día</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio justify="space-between" value="3">Tres veces al día</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio justify="space-between" value="4">Cuatro veces al día</ion-radio>
      </ion-item>
    </ion-radio-group>

    <!-- Seleccionar horas usando dos inputs numéricos -->
    <div *ngFor="let hora of horas; let i = index">
      <ion-item>
        <ion-label class="label-hora">Selecciona la Hora {{ i + 1 }}</ion-label>
        <ion-input
          class="input-hora" 
          type="number" 
          formControlName="hora{{ i }}Hora" 
          required
          min="0"
          max="23" 
          inputmode="numeric" 
          (ionInput)="limitInputLength($event)">
        </ion-input>
        <span>:</span>
        <ion-input 
          class="input-hora" 
          type="number" 
          formControlName="hora{{ i }}Minuto" 
          required 
          min="0"
          max="59" 
          inputmode="numeric" 
          (ionInput)="limitInputLength($event)">
        </ion-input>
      </ion-item>
    </div>

    <ion-item class="no-border">
      <!-- Selección del tipo de dosis -->
      <ion-select justify="space-between" interface="popover" label="Dosis" placeholder="Formato del Medicamento" formControlName="tipoDosis" required>
        <ion-select-option value="tabletas">Tableta(s)</ion-select-option>
        <ion-select-option value="capsulas">Cápsula(s)</ion-select-option>
        <ion-select-option value="gotas">Gota(s)</ion-select-option>
        <ion-select-option value="mililitros">Mililitro(s)</ion-select-option>
        <ion-select-option value="aplicaciones">Aplicacion(es)</ion-select-option>
        <ion-select-option value="supositorios">Supositorio(s)</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="counter__section">
      <ion-label class="counter-label">Cantidad</ion-label>
      <ion-button id="decrement" (click)="decrement()">-</ion-button>
      <input id="counter-input" type="number" [value]="count" (change)="onCounterChange($event)" min="1" max="999"/>
      <ion-button id="increment" (click)="increment()">+</ion-button>
    </div>

    <!-- Botón de Guardar -->
    <ion-button class="oval-button1" fill="clear" expand="full" type="submit">Guardar Medicamento</ion-button>
  </form>
</ion-content>
