<!-- Menú lateral -->
<ion-menu side="end" content-id="main-content">
  <ion-toolbar class="dropdown-menu">
    <ion-title>Menú</ion-title>
  </ion-toolbar>
  <ion-content class="ion-padding">
    <!-- Contenido del menú -->
    <ion-item>Opción 1</ion-item>
    <ion-item>Opción 2</ion-item>
    <ion-item>Opción 3</ion-item>
    <!-- Botón de Cerrar Sesión en el menú -->
  </ion-content>
      <ion-button class="logout-button" expand="block" fill="clear" (click)="onLogout()">Cerrar Sesión</ion-button>
</ion-menu>

<ion-tabs #tabs>
   <!-- Tab Home -->
   <ion-tab tab="reminders">
    <div class="ion-page" id="main-content">
      <ion-toolbar>
        <!-- Título centrado -->
        <ion-title class="title-container">Medmory</ion-title>
  
        <!-- Botones de notificaciones y menú -->
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
  
      <ion-content>
        
        <div *ngIf="medicamentos.length > 0 || citasMedicas.length > 0; else noRecordatorios">
          <ion-list>
            <!-- Medicamentos -->
            <ion-item-group *ngIf="medicamentos.length > 0">
              <ion-item-divider>
                <ion-label>
                  <h2>Medicamentos</h2>
                </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let medicamento of medicamentos" lines="none">
                <ion-thumbnail slot="start">
                  <img src="assets/icon/medicine.png" alt="Medicina">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ medicamento.nombre }}</h2>
                  <p><strong>Frecuencia:</strong> {{ medicamento.frecuencia }} vez(es) al día</p>
                  <p><strong>Dosis:</strong> {{ medicamento.dosis }} {{ medicamento.tipoDosis }}</p>
                  <p><strong>Horas:</strong> {{ medicamento.horas.join(' - ') }}</p>
                </ion-label>
              </ion-item>
            </ion-item-group>
        
            <!-- Citas Médicas -->
            <ion-item-group *ngIf="citasMedicas.length > 0">
              <ion-item-divider >
                <ion-label>
                  <h2>Citas Médicas</h2>
                </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let cita of citasMedicas" lines="none">
                <ion-thumbnail slot="start">
                  <img src="assets/icon/appointment.png" alt="Cita médica">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ cita.nombre }}</h2>
                  <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
                  <p><strong>Hora:</strong> {{ cita.hora }}</p>
                  <p><strong>Nota:</strong> {{ cita.nota }}</p>
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </div>
      
        <!-- Mensaje por defecto cuando no hay recordatorios -->
        <ng-template #noRecordatorios>
          <div class="example-content">
            <h2>¡Vea aquí sus recordatorios!</h2>
            <p>Sus tareas apareceran cuando las programe en Medicamentos o Citas.</p>
          </div>
        </ng-template>
      </ion-content>
    </div>
  </ion-tab>

   <!-- Tab Recordatorios -->
   <ion-tab tab="medicine">
    <div class="ion-page" id="main-content">
      <ion-toolbar>
        <!-- Título centrado -->
        <ion-title class="title-container">Medicamentos</ion-title>
  
        <!-- Botones de notificaciones y menú -->
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
  
      <ion-content>
        <!-- Si hay medicamentos, se muestran las tarjetas -->
        <div class="medicamentos-container" *ngIf="medicamentos.length > 0 ; else noMedicamentos">
          <ion-card *ngFor="let medicamento of medicamentos" (click)="editar(medicamento.id)"  [ngClass]="{'selected-card': selectedCardId === medicamento.id}">
            <ion-card-header>
              <ion-card-title>{{ medicamento.nombre }}</ion-card-title>
            </ion-card-header>
        
            <ion-card-content>
              <p><strong>Frecuencia:</strong> {{ medicamento.frecuencia }} vez(es) al día</p>
              <p><strong>Dosis:</strong> {{ medicamento.dosis }} {{ medicamento.tipoDosis }}</p>
              <p><strong>Horas:</strong> {{ medicamento.horas.join(' - ') }}</p>
            </ion-card-content>
          </ion-card>
        </div>
  
        <!-- Mensaje cuando no hay medicamentos -->
        <ng-template #noMedicamentos>
          <div class="example-content">
            <h2>¡Comencemos!</h2>
            <p>No tienes medicamentos programados aún.</p>
          </div>
        </ng-template>
      </ion-content>
  
        <!-- Botón Agregar Medicamento siempre visible -->
        <ion-footer>
          <ion-button class="oval-button" expand="full" fill="clear" (click)="goToMedicineForm()">
            Agregar Medicamento
          </ion-button>
        </ion-footer>
    </div>
  </ion-tab>
  
 <!-- Tab Citas Médicas -->
<ion-tab tab="appointments">
  <div class="ion-page" id="appointments-content">
    <ion-toolbar>
      <!-- Título centrado -->
      <ion-title class="title-container">Citas Médicas</ion-title>

      <!-- Botones de notificaciones y menú -->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-content>
      <!-- Si hay citas médicas, se muestran las tarjetas -->
      <div class="citas-container" *ngIf="citasMedicas.length > 0; else noCitas">
        <ion-card *ngFor="let cita of citasMedicas"  (click)="editarCita(cita.id)"  [ngClass]="{'selected-card': selectedCardId === cita.id}">
          <ion-card-header>
            <ion-card-title>{{ cita.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
            <p><strong>Hora:</strong> {{ cita.hora }}</p>
            <p><strong>Nota:</strong> {{ cita.nota }}</p>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- Mensaje cuando no hay citas médicas -->
      <ng-template #noCitas>
        <div class="example-content">
          <h2>¡Empecemos!</h2>
          <p>No tienes citas médicas programadas aún.</p>
        </div>
      </ng-template>
    </ion-content>

    <!-- Botón Agregar Cita Médica siempre visible -->
    <ion-footer>
      <ion-button class="oval-button" expand="full" fill="clear" (click)="goToAppointmentForm()">
        Agregar Cita Médica
      </ion-button>
    </ion-footer>
  </div>
</ion-tab>

<!-- Tab Buscar -->
<ion-tab tab="search">
  <div class="ion-page" id="search-content">
    <ion-toolbar>
      <!-- Título centrado -->
      <ion-title class="title-container">Buscar Medicamentos</ion-title>

      <!-- Botones de notificaciones y menú -->
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-content class="ion-padding">
      <!-- Campo de búsqueda -->
      <ion-item class="no-border">
        <ion-label position="stacked">Nombre del Medicamento</ion-label>
        <ion-input  [(ngModel)]="nombreMedicamento"></ion-input>
      </ion-item>

      <!-- Botón Buscar -->
      <ion-button expand="full" fill="clear" class="oval-button" (click)="buscarMedicamento()">Buscar</ion-button>

      <!-- Mensaje de error -->
      <p *ngIf="mensajeError" style="color: red; text-align: center;">{{ mensajeError }}</p>

      <!-- Resultado de búsqueda -->
      <ion-list *ngIf="resultado">
        <ion-item>
          <ion-label>
            <h2>{{ resultado.brand_name }}</h2>
            <p><strong>Nombre Genérico:</strong> {{ resultado.generic_name }}</p>
            <p><strong>Ruta:</strong> {{ resultado.route }}</p>
            <p><strong>Propósito:</strong> {{ resultado.purpose }}</p>
            <p><strong>Indicaciones:</strong> {{ resultado.indications_and_usage }}</p>
            <p><strong>Dosificación:</strong> {{ resultado.dosage_and_administration }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Mensaje por defecto -->
      <p *ngIf="!resultado && !mensajeError">Introduce el nombre de un medicamento y presiona "Buscar".</p>
    </ion-content>
  </div>
</ion-tab>


  <!-- Barra de Tabs en la parte inferior -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reminders">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Recordatorios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicine">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

