// Personalización del botón de cerrar sesión
.logout-button {
  --background: #df1b1b; /* Color de fondo del botón de cerrar sesión */
  color: white; /* Color del texto del botón */
  font-weight: bold; /* Negrita */
}

.dropdown-menu{
  --background:#26b609;
}

ion-toolbar{
  --background: #ece6d1;
}

ion-content{
  --background: #ece6d1;
}

ion-menu{
 --background: #ece6d1; 
}