.logout-button {
  --background: #df1b1b; /* Color de fondo del botón de cerrar sesión */
  color: white; /* Color del texto del botón */
  font-weight: bold; /* Negrita */
}

ion-toolbar {
  --background: #26b609; /* Color de fondo verde para la barra superior */

  .title-container {
    display: flex;
    justify-content: center; /* Centra el título horizontalmente */
    text-align: center;
    transform: translateX(46px);
  }
  
  ion-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }

  ion-buttons {
    ion-icon {
      font-size: 24px;
      color: white;
    }
  
    ion-menu-button {
      color: white; /* Cambia el color del botón de menú a blanco */
    }
  }
}

ion-content{
  --background: #f1efe8;
  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
  height: 100%; /* Asegura que ocupe toda la altura disponible */

  .medicamentos-container {
    padding-bottom: 60px; // Asegúrate de que esto sea suficiente para no cubrir el footer
  }

  .citas-container{
    padding-bottom: 60px; // Asegúrate de que esto sea suficiente para no cubrir el footer
  }

  .selected-card {
    background-color:#c9c7c2; /* Cambia el color de fondo cuando está seleccionado */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }  

  ion-card {
    background: #ffffff;
    border-radius: 100px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;   

    ion-card-header{
      padding: 16px 0px 5px 0px;
      
    }
  
    ion-card-title {
      font-size: 18px;
      font-weight: bold;
    }
  
    ion-card-content {
      font-size: 18px;
      color: black;
    }
  }

  ion-list {
    background: #f1efe8; // Fondo suave para el contenedor
    padding: 5px;
  
    ion-item {
      margin: 1px;
      background: #ffffff; // Fondo blanco para cada item
      border-radius: 5px; // Bordes redondeados para los ítems
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); // Sombra ligera
  
      ion-thumbnail {
        width: 40px; // Ajusta el tamaño total del thumbnail
        height: 40px;
  
        img {
          width: 100%; // Asegura que la imagen ocupe el contenedor
          height: 100%; // Ajusta la altura al contenedor
          object-fit: cover; // Asegura que la imagen se recorte correctamente
          
        }
      }
  
      ion-label {
        h2 {
          font-size: 1.2rem;
          font-weight: bold;
          color: #333;
          margin-bottom: 0.3rem;
          text-align: start;
        }
  
        p {
          font-size: 0.9rem;
          color: #333;
          margin: 0.2rem 0;
          text-align: start;
        }
      }
    }
  
    ion-item-divider {
      background:#26b609; // Fondo más claro para los divisores
      border-radius: 5px; // Bordes redondeados para consistencia
      margin: 5px 0; // Espaciado superior e inferior
      border: none; // Elimina cualquier borde residual
      box-shadow: none; // Elimina cualquier sombra que pueda dar la impresión de una línea

      h2 {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        margin-bottom: 0.3rem;
        text-align: start;
      }
    }
  }
  
}

ion-menu{
 --background: #f1efe8; 
}

.example-content {
  display: flex;
  flex-direction: column; /* Apilar los elementos verticalmente */
  align-items: center;
  justify-content: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
  text-align: center; /* Para centrar el texto de los elementos */
}

h2 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 10px; /* Espacio debajo del título */
}

p {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Color del texto del subtítulo */
  text-align: center;
}

.oval-button {
  padding: 6px 18px;          /* Espaciado interno del botón */
  color: white;               /* Color del texto */
  background-color: #26b609;  /* Fondo verde */
  border-radius: 50px;        /* Bordes redondeados para un efecto ovalado */
  font-size: 16px;
  position: fixed;
  bottom: 5px; /* Ajusta este valor para mover el botón hacia arriba o hacia abajo */
  left: 50%;
  transform: translateX(-50%);
  z-index: 100; /* Asegura que el botón esté por encima del contenido */
  width: 90%; /* Ajusta el tamaño del botón según lo que desees */
}

ion-tab-bar {
  --ion-color-primary: #26b609; /* Cambia el color activo a verde */
  
  ion-tab-button {
    --color: #646363; /* Color de los iconos y texto inactivos */
  
  &.tab-selected {
      /* Estilos para el botón cuando está seleccionado */
      color: #26b609; /* Cambia a verde cuando está activo */
    }
  }
  
  ion-icon {
    font-size: 22px;
  }
  
  ion-label {
    font-size: 14px;
  } 
}
