<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cancel()">
      <ion-icon class="arrow-back-outline" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="title-container">Editar Medicamento</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <form [formGroup]="medicamentoForm" (ngSubmit)="actualizarMedicamento()">
    <ion-item>
      <ion-label position="stacked">Nombre del Medicamento</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item class="no-border">
      <ion-label position="stacked">Frecuencia</ion-label>
    </ion-item>

    <ion-radio-group formControlName="frecuencia" (ionChange)="onFrecuenciaChange($event)">
      <ion-item>
        <ion-radio justify="space-between" value="1">Una vez al día</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio justify="space-between" value="2">Dos veces al día</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio justify="space-between" value="3">Tres veces al día</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio justify="space-between" value="4">Cuatro veces al día</ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item class="no-border">
      <ion-select 
        justify="space-between" 
        interface="popover" 
        label="Dosis" 
        placeholder="Formato del Medicamento" 
        formControlName="tipoDosis" 
        required>
        <ion-select-option value="tabletas">Tableta(s)</ion-select-option>
        <ion-select-option value="capsulas">Cápsula(s)</ion-select-option>
        <ion-select-option value="gotas">Gota(s)</ion-select-option>
        <ion-select-option value="mililitros">Mililitro(s)</ion-select-option>
        <ion-select-option value="aplicaciones">Aplicación(es)</ion-select-option>
        <ion-select-option value="supositorios">Supositorio(s)</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="counter__section">
      <ion-label class="counter-label">Cantidad</ion-label>
      <ion-button id="decrement" (click)="decrement()">-</ion-button>
      <input id="counter-input" type="number" formControlName="dosis" [value]="count" (change)="onCounterChange($event)" min="1" max="999"/>
      <ion-button id="increment" (click)="increment()">+</ion-button>
    </div>

    <ion-button class="oval-button1" fill="clear" expand="full" type="submit">Actualizar Medicamento</ion-button>
  </form>
</ion-content>
