/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.custom-alert {
    // Cambia el fondo del alert
    .alert-wrapper {
      background-color: #ece6d1; // Cambia esto al color que desees
      border-radius: 15px; // Bordes redondeados
    }
    
    .alert-message {
      color: #383838; // Color más oscuro para el mensaje
      font-size: 16px; // Tamaño de la fuente del mensaje
      margin-bottom: -15px; // Reduce el margen debajo del mensaje
      margin-top: -10px; // Reduce el margen sobre del mensaje
      position: relative; // Para que el pseudo-elemento se posicione relativo a este elemento
    }
  
    .custom-alert-button {
      color: #26b609; // Color del texto del botón
      font-weight: bold; // Negrita
      text-align: center; // Centra el texto en el botón
      padding: 10px 20px; // Espaciado alrededor del texto
      font-size: 17px;
      margin: 0 auto; // Centra el botón
    }
  }
  