ion-toolbar {
    --background: #26b609; /* Color de fondo verde para la barra superior */
  
    .title-container {
      display: flex;
      justify-content: center; /* Centra el título horizontalmente */
      text-align: center;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #fff;
      transform: translateX(-20px);
    }
  
    ion-buttons {
      .arrow-back-outline {
        font-size: 24px;
        color: white;
      }
    }
  }
  
  ion-content {
    display: flex;
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
    --background: #f1efe8;
  }
  
  form {
    flex: 1; /* Hace que el formulario ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Asegura que los elementos del formulario se apilen verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    --background: #f1efe8;
  
    ion-item{
    
      --border-radius: 8px; /* Bordes redondeados */
      --background: #f1efe8;
    
      ion-label{
        color: black;            
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
      }

      ion-textarea {
        --padding-top: 14px; /* Elimina el espacio superior */
        --padding-bottom: 0px; /* Elimina el espacio inferior */
      }

      /* Aplica el color de fondo a todo el componente ion-datetime */

      ion-input {
        font-size: 16px;          /* Tamaño del texto de entrada */
        color: black;              /* Color del texto */
        font-family: 'Roboto', sans-serif;
      }
  
      .label-hora{
        font-size: 16px;
      }
  
      .input-hora{
        width: 40px; // Ajustar el ancho del input de hora
        text-align: center; // Centrar el texto
        font-size: 16px; // Tamaño de fuente del input
      }
  
      span {
        font-size: 16px; // Tamaño del separador
      }
    }

    
    .no-border {
      --border-width: 0; /* Elimina el borde */
      --border-color: transparent; /* Asegura que no haya color de borde */
    }
    
    
    .oval-button1 {
      padding: 0px;          /* Espaciado interno del botón */
      color: white;               /* Color del texto */
      background-color: #26b609;  /* Fondo verde */
      border-radius: 35px;        /* Bordes redondeados para un efecto ovalado */
      font-size: 16px;
    }

    .custom-datetime-wrapper {
      display: flex; /* Usamos flexbox para centrar */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      width: 100%; /* Asegúrate de que ocupe el 100% del ancho disponible */
    }
      
    .custom-datetime {
      background: #f1efe8; /* Color de fondo */
      --ion-color-primary: #26b609; /* Color de la parte primaria */
      border: none;  
      width: 100%; /* Ajusta el tamaño si es necesario */
      --background: #f1efe8;
      --background-rgb: #f1efe8;  
    }
      
    .custom-datetime::part(calendar-day):focus {
      background-color: #26b609;
      box-shadow: 0px 0px 0px 4px rgba(125, 160, 90, 0.2);
    }
      
  }
  
  
  
  