<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cancel()">
      <ion-icon class="arrow-back-outline" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="title-container">Editar Cita Médica</ion-title>
</ion-toolbar>

<ion-content>
  <ion-card *ngIf="appointment">
    <ion-card-header>
      <ion-card-title>{{ appointment.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nota:</strong> {{ appointment.nota }}</p>
      <p><strong>Fecha:</strong> {{ appointment.fecha }}</p>
      <p><strong>Hora:</strong> {{ appointment.hora }}</p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="appointmentForm" (ngSubmit)="actualizarCita()">
    <ion-item>
      <ion-label position="stacked">Profesional de la Salud</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nota</ion-label>
      <ion-textarea formControlName="nota" rows="1"></ion-textarea>
    </ion-item>

    <ion-item class="no-border">
      <ion-label position="stacked">Fecha</ion-label>
    </ion-item>

    <div class="custom-datetime-wrapper">
      <ion-datetime formControlName="fecha" presentation="date" required class="custom-datetime" [min]="todayDate"></ion-datetime>
    </div>

    <ion-item>
      <ion-label class="label-hora">Hora</ion-label>
      <ion-input class="input-hora" type="number" formControlName="hora" placeholder="HH" min="0" max="23" required></ion-input>
      <span>:</span>
      <ion-input class="input-hora" type="number" formControlName="minuto" placeholder="MM" min="0" max="59" required></ion-input>
    </ion-item>

    <ion-button class="oval-button1" fill="clear" expand="full" type="submit">Guardar Cambios</ion-button>
    <ion-button class="oval-button2" expand="full" fill="clear" (click)="confirmarEliminacion(id)">Eliminar Cita</ion-button>
  </form>
</ion-content>
